body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #cbddfc;
  color: rgb(18, 17, 17);
}

#main {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 400px;
  width: 300px;
  border: 0.2rem solid #00246b;
  border-radius: 1rem;
  overflow: hidden;
}

img {
  object-fit: cover;
  width: 100%;
}
