body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #cbddfc;
  color: rgb(18, 17, 17);
}

#main {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  height: 400px;
  width: 300px;
  border: 0.2rem solid #00246b;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

i{
    font-size: 2.5rem;
    position: absolute;
    top: 45%;
    left: 45%;
    color: transparent;
    opacity: 0;
    transition: all cubic-bezier(.69,1.19,.82,.64) 0.4s;
    transform: translate(-50%, -50%) scale(0) rotate(0deg);
    
    background-image: url(https://t4.ftcdn.net/jpg/06/55/50/69/360_F_655506911_1p13PsGKM93SuCePkLUcd75TW1Bzu4jg.jpg);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
}

img {
  object-fit: cover;
  width: 100%;
}
